.selectSection{
    margin-top: 60px;
    margin-left: 2em;
    margin-right: 2em;
}

.TopSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.buttonSection {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.gridMovieList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    .gridMovieList{
     grid-template-columns: repeat(2, 1fr);
    }
   }

@media only screen and (max-width: 1024px) and (min-width: 768px) {
   .gridMovieList{
    grid-template-columns: repeat(3, 1fr);
   }
  }

  @media only screen and (max-width: 1268px) and (min-width: 1024px) {
    .gridMovieList{
     grid-template-columns: repeat(4, 1fr);
    }
  }
